<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="advanced.android.ebcm">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/app_launcher_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/app_launcher_icon_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".Device.DevicesListActivity"
                android:label="@string/title_activity_devices_list"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Device.NewDeviceActivity"
                android:theme="@style/AppTheme.InputPopUpStyle"/>
        <activity
                android:name=".Profile.NewProfileActivity"
                android:theme="@style/AppTheme.InputPopUpStyle"/>
        <activity
                android:name=".Profile.EditProfileActivity"
                android:theme="@style/AppTheme.InputPopUpStyle"/>
        <activity
                android:name=".Profile.DeleteProfileActivity"
                android:theme="@style/AppTheme.InputPopUpStyle"/>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>